<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #0039A0;border: none;">
    <div class="container">
      <p style="color:white;margin-left:120px;" class="navbar-text">© Copyright reserved | Privacy Policy</p>

      <p style="color:white;float:right;margin-top:15px;margin-right:102px;">
        Made at &nbsp&nbsp<a href="http://inquirly.com/" target="_blank" >Inquirly</a>
      </p>
    </div>
</div>
